In [2]:
import yfinance as yf
import pandas_datareader as pdr
import datetime as dt

In [3]:
from pandas_datareader import data as pdr
import yfinance as yf

data = pdr.get_data_yahoo("BHP.ax", start="2022-09-01", end="2022-09-27")
data.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2022-09-01  38.139999  37.400002  37.500000  37.509998  17909616.0  37.509998
2022-09-02  36.930000  36.599998  36.900002  36.740002  15075179.0  36.740002
2022-09-05  37.910000  37.060001  37.090000  37.910000   7746045.0  37.910000
2022-09-06  38.435001  37.270000  38.119999  37.270000  10117102.0  37.270000
2022-09-07  37.040001  36.270000  36.910000  36.270000  13944462.0  36.270000

In [4]:
from pandas_datareader import data as pdr
import yfinance as yf

GOOG = pdr.get_data_yahoo("GOOG", start="2022-09-01", end="2022-09-27")
GOOG.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-08-31,111.769997,109.050003,111.629997,109.150002,25898000,109.150002
2022-09-01,111.220001,108.190002,109.199997,110.550003,22784400,110.550003
2022-09-02,111.675003,108.129997,111.339996,108.680000,20601600,108.680000
2022-09-06,108.879997,106.510002,108.135002,107.480003,20565100,107.480003
2022-09-07,110.989998,107.614998,107.760002,110.480003,22987200,110.480003

In [5]:
msft = yf.Ticker("MSFT")
# get stock info
msft.info['quickRatio']

1.567

In [6]:
no_of_lines = 5
lines = ""
for i in range(no_of_lines):
    lines+=input()+"\n"
    

print(lines)

 1
 1
 1
 1
 1

1
1
1
1
1

In [7]:
import yfinance as yf
data = yf.download("msft aapl goog", start="2017-01-01", end="2022-04-30")
tickers = yf.Tickers('aapl msft goog')
for key, value in tickers.tickers.items():
    cr = value.info['currentRatio']

tickers = yf.Tickers('aapl msft goog')

for key, value in tickers.tickers.items():
    print(f"Key: {key}")
    print("cr:", value.info["currentRatio"])

[*********************100%***********************]  3 of 3 completed
Key: AAPL
cr: 0.865
Key: MSFT
cr: 1.785
Key: GOOG
cr: 2.809

In [8]:
high_growth = ["AAPL", "AMZN", "GOOG", "TSLA"]
low_vol = ["LDOS", "INCY", "NBIX", "KO"]
high_dividend = ["LUMN", "MO", "T"]

In [9]:
high_growth_df = pdr.get_data_yahoo(high_growth, start="2017-09-27", end=dt.date.today())['Close']
low_vol_df = pdr.get_data_yahoo(low_vol, start="2017-09-27", end=dt.date.today())['Close']
high_divdend_df = low_vol_df = pdr.get_data_yahoo(high_dividend, start="2017-09-27", end=dt.date.today())['Close']

In [10]:
high_growth_df.head()

Symbols          AAPL       AMZN       GOOG       TSLA
Date
2017-09-26  38.285000  46.930000  46.243000  23.016666
2017-09-27  38.557499  47.543499  47.224499  22.731333
2017-09-28  38.320000  47.820000  47.474998  22.639999
2017-09-29  38.529999  48.067501  47.955502  22.740000
2017-10-02  38.452499  47.959499  47.663502  22.768667

In [14]:
low_vol_df.head()

Symbols          LUMN         MO          T
Date
2017-09-26  19.360001  64.519997  29.244713
2017-09-27  19.309999  64.410004  29.282476
2017-09-28  19.209999  64.190002  29.486404
2017-09-29  18.900000  63.419998  29.584593
2017-10-02  19.320000  62.900002  29.539274

In [15]:
high_divdend_df.head()

Symbols          LUMN         MO          T
Date
2017-09-26  19.360001  64.519997  29.244713
2017-09-27  19.309999  64.410004  29.282476
2017-09-28  19.209999  64.190002  29.486404
2017-09-29  18.900000  63.419998  29.584593
2017-10-02  19.320000  62.900002  29.539274

In [16]:
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 221000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425 706 7329',
 'industry': 'Software—Infrastructure',
 'ebitdaMargins': 0.49418998,
 'profitMargins': 0.36686,
 'grossMargins': 0.68402,
 'operatingCashflow': 89034997760,
 'revenueGrowth': 0.124,
 'operatingMargins': 0.42055,
 'ebitda': 97982996480,
 'targetLowPrice': 275,
 'recommendationKey': 'buy',
 'grossProfits': 135620000000,
 'freeCashflow': 49479000064,
 'targetMedianPrice': 330,
 'currentPrice': 241.07,
 'earningsGrowth': 0.031,
 'currentRatio': 1.785,
 'returnOnAssets': 0.14919,
 'numberOfAnalystOpinions': 43,
 'targetMeanPrice': 333.24,
 'debtToEquity': 47.075,
 'returnOnEquity': 0.47151002,
 'targetHighPrice': 411,
 'totalCash': 104748998656,
 'totalDebt': 78399995904,
 'totalRevenue': 198269992960,
 'totalCashPerShare': 14.045,
 'financialCurrency': 'USD',
 'revenuePerShare': 26.45,
 'quickRatio': 1.567,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 8.816,
 'beta3Year': None,
 'enterpriseToEbitda': 17.84,
 '52WeekChange': -0.14489925,
 'morningStarRiskRating': None,
 'forwardEps': 11.94,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7457889792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 22.313,
 'sharesShort': 40544332,
 'sharesPercentSharesOut': 0.0054,
 'fundFamily': None,
 'lastFiscalYearEnd': 1656547200,
 'heldPercentInstitutions': 0.72065,
 'netIncomeToCommon': 72737996800,
 'trailingEps': 9.65,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.13662088,
 'priceToBook': 10.804016,
 'heldPercentInsiders': 0.00079,
 'nextFiscalYearEnd': 1719705600,
 'yield': None,
 'mostRecentQuarter': 1656547200,
 'shortRatio': 1.95,
 'sharesShortPreviousMonthDate': 1659052800,
 'floatShares': 7451179769,
 'beta': 0.942868,
 'enterpriseValue': 1748032684032,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1660694400,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.017,
 'priceToSalesTrailing12Months': 9.067805,
 'dateShortInterest': 1661904000,
 'pegRatio': 1.52,
 'ytdReturn': None,
 'forwardPE': 20.190119,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0054,
 'sharesShortPriorMonth': 38192351,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 236.41,
 'regularMarketOpen': 236.81,
 'twoHundredDayAverage': 282.88086,
 'trailingAnnualDividendYield': 0.01049025,
 'payoutRatio': 0.2508,
 'volume24Hr': None,
 'regularMarketDayHigh': 242.33,
 'navPrice': None,
 'averageDailyVolume10Day': 30234190,
 'regularMarketPreviousClose': 236.41,
 'fiftyDayAverage': 266.1716,
 'trailingAnnualDividendRate': 2.48,
 'open': 236.81,
 'toCurrency': None,
 'averageVolume10days': 30234190,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.72,
 'exDividendDate': 1668556800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 234.731,
 'currency': 'USD',
 'trailingPE': 24.981348,
 'regularMarketVolume': 29029679,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1797873598464,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 24700011,
 'dayLow': 234.731,
 'ask': 0,
 'askSize': 1100,
 'volume': 29029679,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.21,
 'fiftyTwoWeekLow': 234.5,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.0114,
 'bidSize': 1100,
 'dayHigh': 242.33,
 'coinMarketCapLink': None,
 'regularMarketPrice': 241.07,
 'preMarketPrice': 239.18,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 1.7531}